/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  line-height: 1.5; 
  font-family: var(--font-frank); 
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

img, video {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Global styles

:root {
  --font-frank: 'Frank Ruhl Libre', serif;
  --font-inter: 'Inter', sans-serif;
  --font-abril: 'Abril Fatface', cursive;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;

  @media (max-width: 1034px) {
    max-width: 930px;
  }
  @media (max-width: 834px) {
    max-width: 700px;
  }
}

