#NavMap {
    width: 100%;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .icon {
        width: 100% !important;
        max-width: 200px !important;
        &:hover path {
            filter: drop-shadow(2px 3px 1px rgb(49, 7, 237));
        }
    }
}