#Region {
    width: 100%;
    padding: 50px 0;
    @media (max-width: 834px) {
        position: relative;
        padding-top: 430px;
    }
    @media (max-width: 490px) {
        padding-top: 270px;
    }
    .region {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: start;
        gap: 20px;
        @media (max-width: 834px) {
            display: flex;
            flex-direction: column;
        }
        .img {
            position: relative;
            @media (max-width: 834px) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 400px;
            }
            @media (max-width: 490px) {
                height: 257px;
            }
            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            div {
                display: flex;
                width: 85px;
                height: 40px;
                align-items: center;
                gap: 5px;
                justify-content: center;
                border-radius: 8px;
                background-color: white;
                font-family: Montserrat;
                font-size: 12px;
                font-weight: 500;
                line-height: 14.63px;
                color: #004a60;
                position: absolute;
                right: 10px;
                bottom: 15px;
                @media (max-width: 490px) {
                    width: 73px;
                    height: 34px;
                    font-size: 10px;
                }
            }
        }
        .block {

        }
        h2 {
            font-family: Abril Fatface;
            font-size: 64px;
            font-weight: 400;
            padding: 0;
            line-height: 86.34px;
            color: #004a60;
            margin-bottom: 30px;
            @media (max-width: 1034px) {
                font-size: 55px;
                margin-bottom: 20px;
                line-height: 60px;
            }
            @media (max-width: 834px) {
                font-size: 35px;
                margin-bottom: 20px;
                line-height: 40px;
            }
            @media (max-width: 480px) {
                font-size: 24px;
                margin-bottom: 10px;
                line-height: 34px;
            }
        }
        p {
            font-family: Frank Ruhl Libre;
            font-size: 24px;
            font-weight: 500;
            line-height: 33.6px;
            letter-spacing: 0.05em;
            @media (max-width: 1034px) {
                font-size: 20px;
                line-height: 25px;
            }
            @media (max-width: 834px) {
                font-size: 18px;
            }
            @media (max-width: 834px) {
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}